:root {
  --deep-purple: #987D9A;
  --light-purple: #BB9AB1;
  --soft-beige: #EECEB9;
  --pale-yellow: #FEFBD8;
}


h3{
  color: #FEFBD8;
}

p{
  color: #2F4F4F;
}


h2{
  color: #FEFBD8;
}

.work_des{
  color: #FEFBD8;
}

/* navbar */
.navbar {
  background-color:linear-gradient(to bottom, #967299, #987D9A);
}

.nav-link {
  color: #FEFBD8;
}

.nav-link:hover {
  color:#EECEB9;
}

.section {
  background-color: var(--pale-yellow);
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


body {
  background: linear-gradient(to bottom, #987D9A, #ccbdc9); 
  color: #333; 
  font-family: Arial, sans-serif; 
  min-height: 100vh; 
  margin: 0; 
  padding: 0; 
}



.navbar .navbar-brand.top-left-name {
  font-size: 44px;
  font-weight: bold;
  color: #FEFBD8;
}

#greeting {
  font-size: 2.5em; /* Large text size */
  font-weight: bold; /* Bold text */
  color: #FEFBD8; /* Example color, change as needed */
  margin-bottom: 20px; /* Spacing below the greeting */
}

/* Cursor styles */
#greeting {
  border-right: 4px solid black;  /* Cursor appearance */
  padding-right: 5px; /* Space between text and cursor */
  white-space: nowrap; /* Prevents the text from wrapping */
  overflow: hidden; /* Keeps the container clean */
  display: inline-block; /* Keeps the cursor aligned with the text */
}

html, body {
  height: 100%; /* Ensure full height coverage */
  width: 100%; /* Cover full width to avoid any horizontal scrolling */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  overflow-x: hidden; /* Hide horizontal overflow */
}

/* Updated styles for the About Me section */
#about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
}

#greeting {
  font-size: 2.5em;
  font-weight: bold;
  color: #ffffff;
  padding: 20px;
  animation: slideUp 1.5s ease-out forwards; /* Apply the animation */
}

.img-thumbnail-container {
  padding: 10px; /* Adds some padding around images */
  display: flex; /* Ensures content is centered if needed */
  justify-content: center; /* Center horizontally in the container */
}

.img-fluid {
  width: 100%; /* Full width of their respective container */
  height: auto; /* Maintain aspect ratio */
}


/* Image styling to maintain aspect ratio and cover the container */
.img-thumbnail {
  height: 100%;  /* Make image fill the container height */
  width: auto;  /* Auto-adjust the width to maintain aspect ratio */
  min-width: 100%;  /* Ensure the image covers the width */
  object-fit: cover;  /* Cover the container maintaining aspect ratio without distortion */
  transition: transform 0.5s ease;  /* Smooth transition for any transformations */
  cursor: pointer;  /* Indicates the image can be interacted with */
}

.img-thumbnail:hover {
  transform: scale(1.1); /* Scales up the image slightly on hover */
}


.work-description {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 26px; /* Example font size, adjust as needed */
  color: #FEFBD8; /* Dark gray text color for better readability */
}

.work-image img {
  transition: transform 0.3s ease-in-out;
  display: block; 
  width: 100%; 
  height: 420px; 
}


.work-image img:hover {
  transform: scale(1.05); /* Scale effect */
}

.blinking-cursor {
  border-right: 2px solid black; /* Simulates the blinking cursor */
  animation: blink-animation 1s steps(2, start) infinite;
}

.imageLink{
  color: #24292e;
}

.experience_title{
  color: #E5E4E2;
}

.education_title{
  color: #5E2750;
}

#skills ul {
  list-style: none; /* Removes default list styling */
  padding: 0; /* Removes default padding */
}

#skills li {
  font-size: 16px; /* Adjusts font size */
  margin-bottom: 10px; /* Space between items */
  line-height: 24px; /* Ensures proper line spacing */
}

.fa-star {
  margin-right: 10px; /* Adds space between the star icon and text */
}

.list-group-item {
  background-color: transparent; 
  color: #ffffff;
}



.background-title {
  position: fixed;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5em;
  color: rgba(255, 255, 255, 0.091); /* Very light for a watermark effect */
  z-index: -1; /* Keep behind the content */
  display: none; /* Start with hidden titles */
}


.highlight-img {
  width: 300px;  /* Specify the width */
  height: 300px; /* Specify the height */
  object-fit: cover; /* Ensures the image covers the area without distorting aspect ratio */
  display: block;  /* Ensures images are block-level elements */
  margin: auto;    /* Centers the image if the parent container is larger */
}

@keyframes blink-animation {
  from { border-right-color: black; }
  to { border-right-color: transparent; }
}

/* Blinking animation */
@keyframes blink {
  50% {
      border-color: transparent;
  }
}
#greeting {
  animation: blink 0.75s step-end infinite;
}



@media (min-width: 992px) { /* Adjust based on the breakpoint at which your navbar expands */
  .nav-link.others{
      position: relative;
      left: 50%;
      transform: translateX(-50%);
  }
}

@keyframes slideUp {
  from {
      transform: translateY(20%); /* Start from below the final position */
      opacity: 0; /* Start with the text being transparent */
  }
  to {
      transform: translateY(0); /* Move to the final position */
      opacity: 1; /* Fully visible */
  }
}

@media (min-width: 1200px) { /* Adjust this breakpoint as needed */
  .container {
      max-width: 1400px; /* Or any other width that suits your design */
  }
}